<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h1>Won For The Land!</h1>
      <h2 class="main-subhead">Archiving the Cleveland Cavaliers epic 2016 Championship</h2>
      <h5>Codename: <code>I3CDb</code> &mdash; Internet Cleveland Cavs Championship Database</h5>
      <br />
      <p><strong>#OneForTheLand</strong> &mdash; The Promise fulfilled by LeBron James. The Shot re-defined by Kyrie Irving.
         The D/Stop by Kevin Love on a "2-time MVP". The Block &ndash; a classic LeBron James chase-down &ndash; of a "bad m-----f-----".
         The first-ever 3-1 comeback win in the NBA Finals ended the city of Cleveland's 52-year championship drought.</p>
      <h4>CELEBRATE! &mdash; <a href="/archives">View</a> &amp; <a href="/archives/add">share</a> your favorite moments</h4>
    </div>
    <div class="jumbotron-actions">
      <a href="/archives">Witness &nbsp; <small class="hidden-sm hidden-xs">All Archives</small></a>
      <a href="https://en.wikipedia.org/wiki/2016_NBA_Finals">Champions &nbsp; <small class="hidden-sm hidden-xs">216 Finals Story</small></a>
      <a href="/archives/add">Add Archive</a>
    </div>
</div>
