<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h1>Won For The Land!</h1>
      <h2 class="main-subhead">Archiving the Cleveland Cavaliers epic 2016 Championship</h2>
      <p><strong>#OneForTheLand</strong> &mdash; The Promise fulfilled by LeBron James. The Shot re-defined by Kyrie Irving.
         The D/Stop by Kevin Love on a "2-time MVP". The Block &ndash; a classic LeBron James chase-down &ndash; of a "bad m-----f-----".
         The first-ever 3-1 comeback win in the NBA Finals ended the city of Cleveland's 52-year championship drought.</p>
      <h4>Let's Celebrate! &mdash; Add, re-live &amp; share your favorite moments.</h4>
    </div>
    <div class="jumbotron-actions">
      <a href="/archives">Witness History</a>
      <a href="https://en.wikipedia.org/wiki/2016_NBA_Finals">Champions</a>
      <a href="/archives/add">Add Archive</a>
    </div>
</div>
