<div class="well">
    <h4>Quick Links</h4>
    <div class="row">
        <div class="col-xs-6">
            <ul class="list-unstyled">
                <li><a href="/archives/Memes">Memes</a>
                </li>
                <li><a href="/archives/Articles">Articles</a>
                </li>
                <li><a href="/archives/Media">Media</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-6">
            <ul class="list-unstyled">
                <li><a href="/archives/Celebration">Celebration</a>
                </li>
                <li><a href="/archives/{{ 'The Finals'|url_encode }}">The Finals</a>
                </li>
                <li><a href="/archives/add">Add an Archive</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
</div>
