<div class="well sidenav">
    <h4 class="sr-only">Quick Links</h4>
    <h5><a href="/archives" class="btn btn-primary btn-block btn-lg">View All Archives</a></h5>
    <div class="row">
        <div class="col-xs-12">
          <a href="/archives/{{ 'The Finals'|url_encode }}" class="list-group-item">The Finals</a>
          <a href="/archives/Celebration" class="list-group-item">Celebration</a>
          <a href="/archives/Media" class="list-group-item">Media</a>
          <a href="/archives/Meme" class="list-group-item">Memes</a>
          <a href="/archives/Article" class="list-group-item">Articles</a>
        </div>
    </div>
    <!-- /.row -->
    <h5><a href="/archives/add" class="btn btn-warning btn-block btn-lg">Add an Archive</a></h5>
</div>
