<!doctype html>
<html class="no-js" lang="">
{% include "_includes/head.html" %}
<body>
    {% include "_includes/navbar.html" %}

    <!-- Main jumbotron -->
    <div class="jumbotron jumbotron-sm"></div>

    <div class="container">

      <div class="row">

        <div class="col-xs-12 col-md-8">

          <h1>Add Post <small>Archive a piece of the Championship</small></h1>
          <section id="AddArchiveForm"></section>

        </div>

        <!-- Sidebar -->
        <div class="col-xs-12 col-md-4">
          {% include "_includes/sidenav.html" %}
        </div>

      </div>

      {% include "_includes/footer.html" %}
    </div>

    {% include "_includes/scripts.html" %}
</body>
</html>