<!doctype html>
<html class="no-js" lang="">
{% include "_includes/head.html" %}
<body>
    {% include "_includes/navbar.html" %}

    <!-- Main jumbotron -->
    <div class="jumbotron jumbotron-sm"></div>

    <div class="container">

      <div class="row">

        <div class="col-xs-12 col-md-8">
          <!-- Projects Row -->
          {% for row in data.pages|batch(2) %}
          <div class="row">
            {% for page in row %}
            <div class="col-xs-12 col-sm-6 portfolio-item">
              {% if page.image %}
              {% if page.uri %}
              <a href="/{{ page.uri }}">
                <img src="{{ page.image }}" alt="{{ page.title }}" class="img-responsive" />
              </a>
              {% else %}
              <img src="{{ page.image }}" alt="{{ page.title }}" class="img-responsive" />
              {% endif %}
              {% endif %}

              {% if page.uri %}
              <h3><a href="/{{ page.uri }}">{{ page.title }}</a></h3>
              {% else %}
              <h3>{{ page.title }}</h3>
              {% endif %}

              <p><em>{{ page.updated_date is empty ? page.post_date|date("M j, Y") : page.updated_date|date("M j, Y") }}</em></p>
              <p>{{ page.description }}</p>
            </div>
            {% endfor %}
          </div>
          <!-- /.row -->
          {% endfor %}

          {% if data.pages is empty %}
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <h4>More articles coming real soon!</h4>
            </div>
          </div>
          {% endif %}
        </div>

        <!-- Sidebar -->
        <div class="col-xs-12 col-md-4">
          {% include "_includes/sidenav.html" %}
        </div>

      </div>

      {% include "_includes/footer.html" %}
    </div>

    {% include "_includes/scripts.html" %}
</body>
</html>