<!doctype html>
<html class="no-js" lang="">
{% include "_includes/head.html" %}
<body>
    {% include "_includes/navbar.html" %}
    {% include "_includes/jumbotron.html" %}

    <div class="container">
        {% include "_includes/most_recent.html" %}

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <h5><a href="/archives/add" class="btn btn-warning btn-block btn-lg">Add One</a></h5>
          </div>
          <div class="col-xs-12 col-md-6">
            <h5><a href="/archives" class="btn btn-primary btn-block btn-lg">View More &rarr;</a></h5>
          </div>
        </div>

        {% include "_includes/footer.html" %}
    </div>

    {% include "_includes/scripts.html" %}
</body>
</html>