<!doctype html>
<html class="no-js" lang="">
{% include "_includes/head.html" %}
<body>
    {% include "_includes/navbar.html" %}

    <!-- Main jumbotron -->
    <div class="jumbotron jumbotron-sm"></div>

    <div class="container">

      <div class="row">

        <div class="col-xs-12 col-md-8">

          <h1>
            <a href="{{ data.archive.link_url }}" target="_blank">{{ data.archive.title }}</a>
          </h1>

          <article>
            <p>
              <span class="glyphicon glyphicon-calendar"></span>
              {{ data.archive.post_date|date("M j, Y") }}
              by
              {% if data.archive.author_twitter %}
                <a href="https://twitter.com/{{ data.archive.author_twitter }}" target="_blank">{{ data.archive.author_name }}</a>
              {% else %}
                {{ data.archive.author_name }}
              {% endif %}
              <span class="label label-danger">{{ data.archive.category }}</span>
            </p>
            <hr />
            <p>
              <a href="{{ data.archive.link_url }}" target="_blank">
                <img class="img-responsive" src="{{ data.archive.image }}" alt="" />
              </a>
            </p>
            <p class="lead">
              {{ data.archive.description }}
            </p>

            <p>
              <a href="{{ data.archive.link_url }}" target="_blank" class="btn btn-default btn-block btn-lg">View Original</a>
            </p>
          </article>
        </div>

        <!-- Sidebar -->
        <div class="col-xs-12 col-md-4">
          {% include "_includes/sidenav.html" %}
        </div>

      </div>

      {% include "_includes/footer.html" %}
    </div>

    {% include "_includes/scripts.html" %}
</body>
</html>